/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
hr {
  border-bottom: 3px solid;
  margin: 2rem auto !important;
  width: 4em;
}
a {
  text-decoration: none;
}
.swal2-container {
  z-index: 10000000000000000000 !important;
}
